@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;
//this scss only has the overall div (body)/html writing
html {
  text-size-adjust: 100%;
}

div {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-image: url('https://s-media-cache-ak0.pinimg.com/564x/9f/f2/59/9ff25907fb35b45b85aacd4dec61d9ab.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

  h1 {
    color: hsla(2, 100%, 63%, 1);
    text-align: center;
    padding-top: 1em;
  }
